body{
    background: url("https://i.pinimg.com/originals/25/05/d4/2505d4a3e9b4406efdb22c25ef8969f4.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    --bs-border-color: #222222;
    --bs-body-bg: #222222;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar{
    height: 40px;
    filter:invert();
    background: linear-gradient(90deg, #fff, #fff, #aaa, #ddd, #eee, #000);
}

.container{
    background-color: #EEEEEE;
    color:#222222;
    margin-top:-10px;
}

.p-2{
    border-bottom: #000 double 6px;
    margin-top: 50px;
}

ul{
    list-style: square;
}

h2{
    border-bottom: #000 solid 2px;
}

h3{
    border-bottom: #000 solid 2px;
    width: fit-content;
}